<div class="bg-white rounded-lg shadow-md p-5 max-w-7xl mx-auto">
  <div class="flex justify-between items-center gap-4 mb-5">
    <div
      class="grow p-2 bg-gray-50 border border-gray-100 rounded-lg font-bold text-xl text-gray-800"
    >
      <a href="/" class="hover:text-blue-600">root</a>
      {% for item in Self::breadcrumbs(path) %}
        <span class="text-gray-400 font-normal"> / </span>
        <a href="{{ item.path }}" class="hover:text-blue-600">{{ item.name }}</a>
      {% endfor %}
    </div>
    <button
      id="importButton"
      class="px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white font-medium rounded-lg shadow-xs transition disabled:opacity-50 disabled:pointer-events-none"
    >
      Import
    </button>
  </div>
  <table class="w-full border-collapse">
    <thead>
      <tr>
        <th class="p-3 text-left bg-gray-50 font-semibold text-gray-600">
          Name
        </th>
        <th class="p-3 text-left bg-gray-50 font-semibold text-gray-600">
          Size
        </th>
        <th class="p-3 text-left bg-gray-50 font-semibold text-gray-600">
          Last Modified
        </th>
      </tr>
    </thead>
    <tbody>
      {% if path != "/" %}
        <tr class="hover:bg-gray-50">
          <td class="p-3 border-b border-gray-100">
            <a
              href="{{ utils::dir(path) }}"
              class="text-blue-600 hover:underline block"
            >
              ../ (Parent Directory)
            </a>
          </td>
          <td class="p-3 border-b border-gray-100">-</td>
          <td class="p-3 border-b border-gray-100">-</td>
        </tr>
      {% endif %}
      {% for file in directories %}
        <tr class="hover:bg-gray-50">
          <td class="p-3 border-b border-gray-100">
            <a href="{{ file.path }}" class="text-blue-600 hover:underline block">
              📁 {{ file.name }}
            </a>
          </td>
          <td class="p-3 border-b border-gray-100">-</td>
          <td class="p-3 border-b border-gray-100">-</td>
        </tr>
      {% endfor %}
      {% for file in files %}
        <tr class="hover:bg-gray-50">
          <td class="p-3 border-b border-gray-100">
            <a href="{{ file.path }}" class="text-blue-600 hover:underline block">
              📄 {{ file.name }}
            </a>
          </td>
          <td class="p-3 border-b border-gray-100">
            {{ Self::format_size(*file.size) }}
          </td>
          <td class="p-3 border-b border-gray-100 date">
            {{ file.last_modified }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script type="module">
  document.querySelectorAll('.date').forEach((x) => {
    x.textContent = new Temporal.ZonedDateTime(
      BigInt(x.textContent) * 1000000n,
      Temporal.Now.timeZoneId(),
    ).toLocaleString()
  })

  importButton.addEventListener('click', async () => {
    if (sessionStorage.getItem('importing') === 'true') {
      alert('Importing…')
      return
    }

    importButton.disabled = true
    sessionStorage.setItem('importing', 'true')
    try {
      const res = await fetch('/api/import', { method: 'POST' })
      if (res.ok) {
        alert('Import successful')
      } else {
        alert('Import failed')
      }
    } catch (e) {
      console.error(e)
      alert('Import failed')
    } finally {
      sessionStorage.removeItem('importing')
      importButton.disabled = false
    }
  })
</script>
